.attribution { 
    font-size: 11px; text-align: center; 
    position: relative;
    top: 5px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
body{
    background-color: hsl(185, 41%, 84%);
    font-family: 'Space Mono', monospace;
}
input{
    font-family: 'Space Mono', monospace;
}
.centeringDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 97vw;
    background-color: hsl(185, 41%, 84%);
}
.mainCard{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 55vw;
    height: 40vh;
    background-color: hsl(0, 0%, 100%);
    border-radius: 17px;
}
.logoDiv{
    color: hsl(186, 14%, 43%);
    position: relative;
    bottom: 40px;
}
.logoPic{
    height: 40px; 
    width: 65px;
}
.inputDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: start;
    height: 88%;
    width: 46%;
    gap: 15px;
}
.resultDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 88%;
    width: 46%;
    background-color:  hsl(183, 100%, 15%);
    border-radius: 17px;
    color: hsl(0, 0%, 100%);
}
.tipSelection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
}
.tipAmounts{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.input1{
    width: 80%;
}
.billInput{
    width: 95%;
    text-align: end;
    background-color: hsl(180, 27%, 94%);
    border: solid 2px transparent;
    height: 30px;
    color: hsl(186, 14%, 43%); 
    border-radius: 8px;
}
.billInput:focus{
    outline: none;
    border: solid 2px hsl(172, 67%, 45%);
    border-radius: 4px;
}
.dollar{
    position: absolute;
    top: 12px;
    left: 12px;
    height: 12px;
    width: 10px;
}
.dollarInputDiv{
    contain: content;
}
.button{
    border: solid;
    width: 75px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    border-radius: 8px;
}
.customBtn{
    border: solid transparent;
    width: 75px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: hsl(180, 27%, 94%);
    color: hsl(186, 14%, 43%);
    border-radius: 8px;
}
.customInput{
    display: none;
    border: solid 2px hsl(172, 67%, 45%); 
    border-radius: 4px;
    width: 66px;
    height: 38px;
    text-align: end;
}
.customInput:focus{
    outline: none;
    border: solid 2px hsl(172, 67%, 45%);
    border-radius: 4px;
}
.numberPeopleDiv{
    width: 80%;
    display: flex;
    flex-direction: column;
}
.numberLabel{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.peopleInput{
    width: 95%;
    text-align: end; 
    background-color: hsl(180, 27%, 94%);
    border: solid 2px transparent;
    height: 30px;
    color: hsl(186, 14%, 43%); 
    border-radius: 8px;
}
.peopleInput:focus{
    outline: none;
    border: solid 2px hsl(172, 67%, 45%);
    border-radius: 4px;
}
.inputLabel{
    position: relative;
    bottom: 5px;
    color: hsl(186, 14%, 43%);
    font-size: 12px;
}
.onlyZeroText{
    display: none;
    position: relative;
    bottom: 5px;
    color: red;
    font-size: 12px;
}
.resultLabel{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.resultAnswers{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    position: relative;
    bottom: 20px;
}
.resultSection{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    height: 70px;
}
.tipTotal{
    height: 70px;
    font-size: 40px;
    width: 95%;
    text-align: end;
    border: none;
    background-color: hsl(183, 100%, 15%);
    color: hsl(172, 67%, 45%);
}
.tipTotal:focus{
    outline: none;
}
.tipAmount{
    font-size: 14px;
    color: hsl(189, 41%, 97%);
}
.person{
    font-size: 10px;
    color: hsl(184, 14%, 56%);
}   
.resetButtonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
}  
.reset{
    border: none;
    padding: 8px;
    width: 90%;
    color: hsl(183, 100%, 15%);  
    background-color: hsl(186, 14%, 43%);
    border-radius: 5px;
    font-family: 'Space Mono', monospace;
    cursor: pointer;
}
@media screen and (max-width: 900px) {
    .mainCard{
        flex-direction: column;
        height: 80vh;
        width: 100vw;
        padding: 20px 0;
    }
    .centeringDiv{
        justify-content: flex-end;
    }
    .logoPic{
        position: relative;
        top: 30px;
    }
    .inputDiv{
        height: 88%;
        width: 90%;
    }
    .resultDiv{
        height: 50%;
        width: 90%;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
    .resultAnswers{
        width: 80%;
        bottom: 0;
    }
    .tipAmount{
        font-size: 11px;
    }
    .tipSelection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 95%;
    }
    .tipAmounts{
        display: flex;
        flex-wrap: wrap;
        justify-content: center; 
        align-items: center;
        width: 97%;
        gap: 10px;
    }
    .move{
        position: relative;
        left: 30px;
        bottom: 10px;
    }
    .button{
        width: 40%;;
    }
    .customBtn{
        width: 40%;
    }
}